/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-background-color: white;
	-fx-font-family: "Comic Sans MS";
}

.button{
	-fx-background-color: f2f3f5;
	-fx-cursor: hand;
	-fx-border-color: d4d7dc;
	-fx-border-width: 1px;
}

.button:hover{
	-fx-background-color: d4d7dc;
}

.menu-bar{
	-fx-background-color: e3e5e8;
}

.menu-bar .container .menu:openvertically .label{
	-fx-text-fill: black;
}

.context-menu{
	-fx-background-color: e3e5e8;
}

.menu-item{
	-fx-background-color: e3e5e8;
}

.menu-item:focused{
	-fx-background-color: d4d7dc;
}

.mediaButton{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.list-view {
	-fx-background-color: f2f3f5;
}

.list-cell {
	-fx-background-color: f2f3f5;
	-fx-text-fill: black;
}
.list-cell:even {
	-fx-background-color: f2f3f5;
	-fx-text-fill: black;
}

.list-cell:filled:selected {
	-fx-background-color: d4d7dc;
}